
.Split {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Dropdown {
    display: grid;
    place-items: center;
}

.PatientSet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.Pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
}

.Card {
    margin: 2vw;
}