@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login form > * {
        margin: 10px 0;
    }

    .LoginButton {
        min-width: calc(4vw + 100px);
    }

    .Alert {
        position: relative;
        top: -67vh;
    }
  }